body{
    display: flex;
    flex-direction: row;
}

.title-font {
    font-size: 50px;
    color:#2F2F2C;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
}

.form-input{
    width: 20vw;
    height: 30vh;
    padding: 80px;
    background-color: #f3f3f3;
    border-radius: 100px;
    margin-left: 5%;
    
}

.form-input input{
    margin: 10px 0 5px 0;
    box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(160, 159, 159);
    border-radius: 5px;
    width: 300px;
    height: 35px;
    padding: 10px;
}

.form-input button{
    width: 300px;
    height: 35px;
    background-color: #920A0A;
    color: #F2F0EB;
    font-weight: 600;
    border-radius: 10px;
    border: 0;
    margin-top: 30px;
    cursor: pointer;
    &:hover{
        background-color: #B3261E;
    }
}
